.env
output/
weights/
received_frames/

# Python cache
__pycache__/
*.py[cod]

# ROS2
navigation/ros/build/
navigation/ros/install/
navigation/ros/log/

# ROS2 test map
navigation/maps/test_map.*

tests/

logs/

# pico w build
raspberry/pico_w_sdk/build/
*.bak